.container {
    display: flex;
    justify-content: space-between;
    width: 98%;
    /* align-items: center; */
    margin-top: 8px;
    padding: 10px 12px;
    height: 60px;

  }

.container #logo{
  height: 40px;
  padding-left: 30px;
    /* filter: invert(); */
}

  
  nav ul {
    display: flex;
    list-style-type: none;
  }
  
  nav ul li {
    /* display: flex; */
    /* margin-right: 10px; */
    padding: 10px;
  }
  
  nav ul li:last-child {
    margin-right: 0;
  }
  
  nav ul li a {
    color: #457be8;
    font-weight: bold;
    text-decoration: none;
  }
