/* Global Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* Main Content Styles */
main {
  padding: 20px 0;
}

.featured {
  background-color: #f9f9f9;
  padding: 20px;
  margin-bottom: 20px;
}

.featured article h2 {
  margin-top: 0;
}

.blog-posts article {
  background-color: #f9f9f9;
  padding: 20px;
  margin-bottom: 20px;
}

.blog-posts article h2 {
  margin-top: 0;
}

.blog-posts article p {
  margin-bottom: 10px;
}

.blog-posts article a {
  color: #333;
  text-decoration: none;
  background-color: #ddd;
  padding: 5px 10px;
  border-radius: 5px;
}

.blog-posts article a:hover {
  background-color: #ccc;
}

/* Footer Styles */
footer {
  background-color: white;
  color: #457be8;
  text-align: center;
  padding: 5px 0;
  font-weight: bold;
}
.footer img{
  height: 60px;
  width: 60px;
  border-radius: 50%;
}
/* Responsive Styles */
@media screen and (max-width: 800px) {
  .container {
    width: 90%;
    padding: 10px;
    height: 80px;
  }
  #regBtn{
    display: none;
  }
  nav ul li {
    display: block;
    margin: 10px 0;
  }
  

  nav ul li:last-child {
    margin-bottom: 0;
  }
}
